pandas
pymupdf
pdfplumber
langchain
langchain_community
langchain_experimental
sentence-transformers
faiss-cpu
pytesseract
pillow
lxml
stqdm
openpyxl
camelot-py[cv]
pdf2image
Pillow
openpyxl
streamlit
pandas
matplotlib
seaborn
pdfplumber
opencv-python-headless
pytesseract
spacy
textblob
scikit-learn
wordcloud
langchain
faiss-cpu

